<div>
  <h1><img class="angular-logos" src="assets/images/angular-logo.png" /><span>List Animation with TweenMax</span></h1>
  <blockquote>
      Source code available <a href="https://bitbucket.org/charlesrobertson/list-swap/src/master/" target="_blank">here</a>
  </blockquote>
  <form novalidate [formGroup]="listSortAnimationForm">
    <label>Animation</label>
    <select class="select-css" formControlName="listSortAnimation">
      <option value="back ease out">Back ease out</option>
      <option value="elastic ease out">Elastic ease out</option>
      <option value="expo ease out">Expo ease out</option>
      <option value="linear ease none">Linear ease none</option>
    </select>
    <div style="clear:both;"></div>
  </form>
  <ul>
    <li *ngFor="let user of users;let i = index;" [ngStyle]="{'position':'absolute','top':user.position + 'px'}" class="user-{{ i }}" id="user-{{ i }}"
    >
      {{ user.forename }} {{ user.surname }}
      <i class="fa fa-arrow-circle-up" (click)="moveListItem(i,i - 1,'up')"></i>
      <i class="fa fa-arrow-circle-down" (click)="moveListItem(i,i + 1,'down')"></i>
    </li>
  </ul>
</div>
