div {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 490px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    padding: 20px;
    background: rgba(0, 0, 0, 0.075);
    color: rgba(0, 0, 0, 1);
    text-align: center;
    border-radius: 4px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

h1 img {
    width: 38px;
    margin-right: 20px;
    vertical-align: top;
}

h1 span {
    font-weight: bold;
    line-height: 42px;
}

blockquote {
    position: relative;
    margin:20px 0px 20px 0px;
    padding-left: 20px;
    border-left: 10px solid rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: 10px solid rgba(0, 0, 0, 0.5);
    z-index: 1 !important;
}

blockquote a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: 10px solid rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

blockquote a:hover {
    color: 10px solid rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

form {
    display: block;
    height: 60px;
    margin-bottom: 20px;
}

label {
    float: left;
    width: 30%;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.025);
}

.select-css {
	float: right;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 60%;
	max-width: 60%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    margin: 5px 0px;
}

.select-css::-ms-expand {
	display: none;
}

ul {
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul li {
    width: 100%;
    height: 46px;
    padding: 15px;
    margin: 0px 0px 0px 0px;
    background: rgba(0, 0, 0, 0.075);
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  ul li i {
    position: absolute;
    color: orange;
    cursor: pointer;
  }
  
  ul li i:nth-of-type(1) {
    right: 46px;
  }
  
  ul li i:nth-of-type(2) {
    right: 15px;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width :  812px) {

    div {
        width: 90%;
        height: 480px;
    }

    h1 {
        font-size: 16px;
    }
    
    h1 img {
        width: 28px;
    }

    h1 span {
        line-height: 32px;
    }

    .select-css {
        width: 50%;
        max-width: 50%;
        font-size: 16px;
    }

}
  